/* Google Fonts*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cardo:ital,wght@0,400;0,700;1,400&display=swap");

body {
  background-size:cover;
  background-image: url("../image.jpg");
  background-position: center;
  background-repeat: no-repeat;
  touch-action: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body, html {
  overscroll-behavior-y: contain;
  overscroll-behavior-x: none;
}


#container {
  display: flex;
  row-gap: 15px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

#container .image {
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
  z-index: -1;
}

#container {
  margin-top: -20px; 
}

#container header {
  font-size: 40px;
  color: #000;
  font-weight: 600;
  text-align: center;
}

#container p {
  font-size: 16px;
  font-weight: 400;
  color: #000;
  max-width: 550px;
  text-align: center;
  margin: 50px;
  font-family: "Cardo";
}
#container #time-content {
  display: flex;
  column-gap: 30px;
  align-items: center;
}

#time-content .time {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.time .number,
.time .text {
  font-weight: 500;
  color: #000;
}

.time .number {
  font-size: 40px;
}

.time .text {
  text-transform: capitalize;
  font-size: 12px;
}

#contact-us {
  text-align: center;
  margin-top: 30px;
  font-family: "Cardo";
}

#input-box {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  max-width: 360px;
  width: 100%;
  margin-top: 20px;
  column-gap: 20px;
}
#input-box a {
  text-decoration: none;
}

#input-box button {
  height: 100%;
  outline: none;
  border: none;
  border: 1px solid #fff;
  border-radius: 1em;
  background-color: rgba(255, 255, 255, 55);
  font-size: 100%;
  font-weight: 500;
  display: flex;
  align-items: center;
  padding: 1em 2em;
  color: #000;
  cursor: pointer;
  transition: all 0.05s ease;
}

#input-box button img {
  margin-left: 10px;
  width: 20px;
}

#input-box button.hovered {
  background-color: #8b795e;
  border: #f5f5dc;
  color: #fff;
}

@media screen and (max-width: 300px) {
  #container header {
    font-size: 50px;
  }
}
