/* Google Fonts*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cardo:ital,wght@0,400;0,700;1,400&display=swap");

body,
html {
  margin: 0;
  padding: 0;
  overscroll-behavior: none;
  touch-action: none;
}

body {
  background-size: cover;
  background-image: url("../image.jpg");
  background-position: center;
  background-repeat: no-repeat;
  font-family: "Poppins", sans-serif;
  user-select: none;
  height: 100vh; /* Ensure the body covers the entire viewport height */
}

/* flower fall */
.flower {
  top: 0;
  position: absolute;
  width: 30px;
  height: 30px;
  pointer-events: none;
  animation: flowerFall 6s linear forwards;
  z-index: 1;
}

@keyframes flowerFall {
  to {
    transform: translate(calc(var(--translateX, 0) * 1px), 100vh) rotate(720deg);
    opacity: 0.2;
  }
}


/* header */
header {
  background: linear-gradient(to bottom, #EFD5B2, transparent);
  padding: 10px;
  color: black;
  text-align: center;
  position: relative;
  display: flex; /* Use flexbox */
  justify-content: space-between; /* Align children at start and end of container */
}

header h1 {
  margin: 0;
}

#toggleButton {
  font-size: 24px;
  cursor: pointer;
  z-index: 2;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #EFD5B2;
  overflow: hidden;
  transition: 0.4s;  
  justify-content: center;
  align-items: center;
  text-align: left;
}

.sidenav.overlay {
  width: 100%;
}

.sidenav.overlay a {
  display: block;
  
#overlayToggleButton {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 1);
  z-index: 2; 
  display: none;
                   
.sidenav a {
  padding: 15px 20px;
  text-decoration: none;
  font-size: 18px;
  color: #000; 
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  background-color: #ddd; 
  color: darkgrey; 
}

.navigation {
  justify-content: center;
  align-items: center;
  text-align: left;
  height: 100vh;
  margin: 0;
}

.navigation ul {
  list-style-type: none;
  padding: 0;
}

.navigation li {
  margin: 10px 0; /* Reduce the margin between list items */
}

.navigation a {
  text-decoration: none;
  color: #000;
  font-weight: bold;
}

.navigation a.current {
  color: darkgrey; 
  font-family: "Cardo";
  font-style: italic; 
}

.social-links {
  position: absolute;
  bottom: 10px;
  right: 20px; /* Adjust as needed */
  font-size: 20px;
  width: auto; /* Adjust as needed */
  padding: 10px;
  background-color: #EFD5B2;
  color: white;
  text-transform: uppercase;
}

.social-icon {
  margin: 0 10px;
  color: white;
  text-decoration: none;
}
/* responsiveness */
@media screen and (max-width: 300px) {
  #container header {
    font-size: 50px;
  }
}
